<!--
#############################
# Seila Oliva Muñoz         #
#############################
# Ingeniería en Tecnologías #
# de la Telecomunicación    #
############################# -->

{% extends "plantilla.html" %}

<!-- Desplegable para seleccionar el distrito del que quiero los aparcamientos
Desplegable ->  http://michelletorres.mx/listas-desplegables-en-los-formularios-html/ -->
{% block boton %}
    <form action='/aparcamientos' method='POST'>
        <select name='DIST'>\n\t<option selected value='0'> Todos los distritos</option>
            {% for distrito in dist %}
                {% if distrito == "" %}
                    <option value={{forloop.counter}}>Sin distrito especificado</option>
                {% else %}
                    <option value={{forloop.counter}}>{{distrito}}</option>
                {% endif %}
            {% endfor %}
            </optgroup>
        </select><input class='button' type='submit' value='Buscar'>
    </form>
{% endblock %}

{% block content %}
<!-- Listado de aparcamientos -->
    <br/><h4>{{titDis|safe}}</h4><br/>
    {% for aparc in list %}
        <div class='featurebox_center'>
            <p1>{{aparc.nombre}}</p1><br/><h7><a href='/aparcamientos/{{aparc.id}}'>Accede a su página</a></h7>
            <div id="punt">
                Puntuación: {{aparc.puntuacion}}
            </div>
        <!-- Botones para seleccionar/deseleccionar aparcamientos -->
            {% if user.is_authenticated %}
                {% if aparc in selec %}
                    <div id="button_div">
                        <form action='/deseleccionar?pag=/aparcamientos' method='POST'><button class='buttonSelec' type='submit' name='selec' value='{{ aparc.nombre }}'>Deseleccionar</button></form>
                    </div>
                {% else %}
                    <div id="button_div">
                        <form action='/seleccionar?pag=/aparcamientos' method='POST'><button class='buttonSelec' type='submit' name='selec' value='{{ aparc.nombre }}'>Seleccionar</button></form>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
