<!--
#############################
# Seila Oliva Muñoz         #
#############################
# Ingeniería en Tecnologías #
# de la Telecomunicación    #
############################# -->

{% extends "plantilla.html" %}

{% block left_content %}
<!-- Si un usuario está autenticado, aparecen los formularios para cambiar títulod de la página, color y tamaño de letra -->
    {% if user.is_authenticated and user.username == userpag %}
        <div id="left_side">
            <h3>PERSONALIZA TU PÁGINA</h3>
            <h5><form action='/cambiarTitulo?user={{userpag}}' method='POST'>
            Título de la página: <input type='text' name='titPag' size="9"><br/>
            <input class='button' type='submit' value='Enviar'></form><br/></h5>

            <h4>Diseño de la página</h4>
            <h5><form action='/cambiarEstilo?user={{userpag}}' method='POST'>
                Tamaño de letra: <input type='text' name='tamLet' size="9">
                <!-- Desplegable para elegir el color que se puede poner a la página. -->
                <!-- Desplegable ->  http://michelletorres.mx/listas-desplegables-en-los-formularios-html/ -->
                Color de fondo:
                <select name='COLOR'>\n\t<option selected value='0'> Selecciona color</option>
                        <option value='#000000'>Negro</option>
                        <option value='#FFFFFF'>Blanco</option>
                        <option value='#00FF00'>Verde</option>
                        <option value='#00FFFF'>Azul</option>
                        <option value='#FF0000'>Rojo</option>
                        <option value='#FFFF00'>Amarillo</option>
                        <option value='#CC00FF'>Morado</option>
                        <option value='#FF9900'>Naranja</option>
                        </optgroup>
                </select><input class='button' type='submit' value='Enviar'>
            </form></h5><br/>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
<!-- Listado de aparcamientos seleccionados-->
    {% for aparc in selec %}
        <div class='featurebox_center'><p1><a href='{{ aparc.aparcamiento.url }}'>{{ aparc.aparcamiento.nombre }}</a></p1><br/>
            <h7>{{aparc.aparcamiento.direccion.claseVia}} {{aparc.aparcamiento.direccion.nombreVia}} {{aparc.aparcamiento.direccion.numero}}
            {{aparc.aparcamiento.direccion.localidad}} ({{aparc.aparcamiento.direccion.provincia}}) {{aparc.aparcamiento.direccion.cp}}
            <a href='/aparcamientos/{{aparc.aparcamiento.id}}'>Mas información</a><br/>
            Seleccionado: <time>{{ aparc.fecha }}</time></h7>
            <div id="punt">
                Puntuación: {{aparc.aparcamiento.puntuacion}}
            </div>
            <!-- Si el usuario está autenticado aparece el botón para deseleccionar
            (no aparece el botón seleccionar porque todos los aparcamientos de esta página están seleccionados) -->
            {% if user.is_authenticated and user.username == aparc.usuario.nombre %}
                <div id="button_div">
                    <form action='/deseleccionar?pag=/{{userpag}}' method='POST'><button class='buttonSelec' type='submit' name='selec' value='{{ aparc.aparcamiento.nombre }}'>Deseleccionar</button></form>
                </div>
            {% endif %}
        </div>
    {% endfor %}

    <!-- Botón para mostrar siguientes 5 comentarios o voler al principio -->
    {% if id == 0 %}
        <br/><h5><a href='/{{userpag}}'>Volver al principio</a></h5>
    {% elif id != 0 %}
        <br/><h5><a href='/{{userpag}}?id={{id}}'>Mostrar siguientes</a></h5>
    {% endif %}

    <!-- Botones para obtener canales XML y JSON -->
    <div>
        <form action='{{ userpag }}/xml' method='POST'>
            <button class='buttonxml' type='submit' name='boton'>Generar XML</button>
        </form>
        <form action='{{ userpag }}/json' method='POST'>
            <button class='buttonxml' type='submit' name='boton'>Generar JSON</button>
        </form>
    </div>
{% endblock %}
